.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.header {

    background-color: var(--primary-background-base);
    color: var(--text-base);
    width: 100%;
    height: 20%;

}

.header:hover {
    background-color: var(--primary-background-highlight);
}

.heroSection {
    background-color: var(--primary-background-base);
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroImg {}